{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
<h1 class="text-center text-muted">
    The Rapid Dictionary
</h1>
<div class="row mt-5">
    <div class="col-md-2">
    
    </div>
    <div class="col-md-8">
        <form action="" method='POST'>
        {% csrf_token %}
        <div class="input-group mb-3">
        <span class="input-group-text" id='basix-addon3'>Search the Word</span>
        <input type="text" name="user_word" class='form-control' id='basic-url' area-describedby='basic-addon3'>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Search</button>
  
        </div>
        </form>
    </div>
</div>

    {% if method == 'GET' %}
    
    <div class="row mt-4 text-center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="container word_box">
                <h3 class='mb-2'>
                    <u>Word of the day</u>
                </h3>
                <h4 class="mb-2">
                    {{word | title }}
                </h4>
                <p class="mb-2">
                    {{definition}}
                </p>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="row mt-5">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
        {% if failure %}
            <h2 class='text-center'>{{error}}</h2>
        {% else %}

            {% if method == 'POST' %}
            <h2>
                Search Result
            </h2>
            <div class="col-md-6 d-flex justify-content-between align-items-center mt-3">
                <h5>{{search_word}}</h5>
                <div class="pronounciation">
                    <h6>
                    {{pronunciations.all}}
                    </h6>
                </div>
            </div>
            {% for definition in results %}

            <div class="definitions mt-5">
                <h5>Definition</h5>
                <p><div class="5">{{definition.definition}}</div></p>
            </div>
            <div class="example mx-5">
                <h6>Example: </h6>
                {% for example in definition.examples %}

                <p><div class="2">{{example}}</div></p>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-10 mt-3">
                <h6>Synoyms:</h6>
                <div class="d-flex align-items-center">
            {% for syns in definition.synonyms %}
                    <button class="btn btn-secondary mx-2">
                    {{syns}}
                    </button>
                {% endfor %}
                </div>
                </div>
            </div>
            
            {% endfor %}
            {% endif %}

        </div>
    </div>
{% endif %}
</div>



{% endblock content %}